<div class="container mydiv">
    <div class="row">
      <div class="col-md-3">
        <!-- Card -->
        <div class="card">
          <div class="card-header">
            Today's Combo Offer
            <span class="ribbon ribbon-top-right"><small class="cross">x </small>4</span>
          </div>
          <div class="card-body">
            <img src="https://i.imgur.com/9UYzfny.png" class="card-img-top" alt="HP Notebook">
            <div class="card-text">
              <p>Category: <a href="#">Laptops</a></p>
              <p>Name: HP Notebook</p>
              <p>Price: ₹25,550</p>
              <p>Available: 6</p>
              <div class="sold_stars"> 
                <i class="fa fa-star"></i> 
                <i class="fa fa-star"></i> 
                <i class="fa fa-star"></i> 
                <i class="fa fa-star"></i> 
                <i class="fa fa-star"></i>
              </div>
              <div class="available_bar"><span style="width:17%"></span></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-9">
      </div>
    </div>
  </div>
  